<form action="/session" method="post" style="border:3px solid #f1f1f1">
    <div style="text-align:center; margin:24px 0 12px 0">
        <img src="/images/fitness.jpg" alt="fitness image"  class="fitness"/>
    </div>

    <div class="container" style="padding:16px; text-align:center">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username" id="username" required/><br>
        <label for="psw"><b>Password</b></label>
        <input type="password" name="password" id="psw" required/><br>
    </div>
    
    <div class="container" style="background-color:#f1f1f1; padding: 16px; text-align: center">
        <% if @errors %>
            <p style="color:red;"><%= @errors %></p>
            <button type="submit" value= "LogIn">LogIn</button>
            <p>or</p>
            <button type="button" id="signupbtn2"><a href="/registration/signup">SignUp</a></button>
        <% else %>
            <button type="submit" value= "LogIn">LogIn</button>
        <% end %>
        
    </div>

</form>