<div>
    <form action="/sessions" method="post" >
        <h4>GetFit</h4>
        <p>Welcome back! Please login below to view your account</p>
        <fieldset >
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" id="username" required/><br>
        </fieldset>
        <fieldset>
            <label for="psw"><b>Password</b></label>
            <input type="password" name="password" id="psw" required/><br>
        </fieldset>

        <% if @errors %>
            <p style="color:red;"><%= @errors %></p>
            <input type="submit" value="LogIn">
            <p>or</p>
            <a href="/registration/signup">SignUp</a>
        <% else %>
            <input type="submit" value="LogIn">
        <% end %>

    </form>
</div>
