<nav>
    <a href="/registration/signup">Signup</a>
    <a href="/sessions/login">LogIn</a>
    <a href="/users/:username">My account</a>
</nav>

<header>
    
    <h1>GetFit</h1><br>
    
</header>
<section>
    <h1 style="color:darkred">Welcome to GetFit</h1>
    <p>Getfit is suited for everybody to help improve fitness. Whether you are a beginner or workout addict, this app will help you achieve your fitness goal, allowing you to settup and track your own challenges. </p>
    <h4><a href="/registration/signup">Signup</a> to get started, <b>or</b> <a href="/sessions/login"> Login</a> if you are already a <b>GetFitter</b></h4>
</section>
<footer>
        <small>&copy; 2020 <strong>SinatraGetFit</strong></small>
        <small><i>Vanessa Fotso </i><strong>Flatiron school</strong></small>
</footer> 