<div class="navbar">
    <ul>
        <li> <a href="/registration/signup">Signup</a></li>
        <li><a href="/session/login">LogIn</a></li>
        <li><a href="/profile/:username">My account</a></li>
    </ul>
</div>

<header>
<br>
    <h1>GetFit</h1><br>
    
</header>
<section>
    <h1 style="color:darkred">Welcome to GetFit</h1>
    <p>Getfit is suited for everybody to help improve fitness. Whether you are a beginner or workout addict, this app will help you achieve your fitness goal, allowing you to settup and track your own challenges. </p>
    <h4><a href="/registration/signup" style="text-decoration:none; color:#d2691e">Signup</a> to get started, <b>or</b> <a href="/session/login" style="text-decoration:none; color:#d2691e"> Login</a> if you are already a <b>GetFitter</b></h4>
</section>