<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetFit App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="/javascripts/myscript.js"></script>
    
</head>
<body onload="myGreeting()">
    <%= yield %>   

    
</body>
</html>