<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetFit App</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/myscript.js"></script>
</head>
<body onload="myGreeting()">
    <%= yield %>   

    <footer>
        <small>&copy; 2020 <strong>SinatraGetFit</strong></small>
        <small><i>Vanessa Fotso </i><strong>Flatiron school</strong></small>
    </footer> 
</body>
</html>